.Form{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
  border-bottom: 10px;
  border-bottom-color:red;
}
.Register{
width:350px;
border-style: solid;
border-width: 5px;
justify-content: center;
padding-left: 50px;
margin-left: 800px;
}
.checkBox{
  width:10px;
}
p{
   width:10px;
}
input{
  width: 50%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
